.white {
  background-color: white;
  margin-left: 10%;
  margin-top: 4%;
}
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  width: 1200px;
  height: 600px;
  background-color: rgb(253, 223, 127);
  .flex__col {
    order: 0;
    flex: 0 1 auto;
    align-self: center;
    width: 360px;
    height: 441px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &--big {
      order: 0;
      flex: 0 1 auto;
      align-self: center;
      width: 361px;
      height: 500px;
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      border-radius: 4px;
    }
    &--small {
      order: 0;
      flex: 0 1 auto;
      align-self: center;
      width: 360px;
      height: 441px;
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      border-radius: 4px;
    }
  }
}
.general {
  flex-direction: row;
}
.general__next--second {
  width: 361px;
  height: 500px;
  background-color: aqua;
}
.general__next--third {
  width: 361px;
  height: 441px;
  background-color: blue;
}
.general__next--text1 {
  font-family: Miso;
  color: #02995b;
  font-size: 45px;
  font-weight: 700;
  line-height: 24px;
}
.general__next--text2 {
  font-family: Miso;
  color: #02995b;
  font-size: 60px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}
.general__next--text3 {
  font-family: Miso;
  color: #02995b;
  font-size: 45px;
  font-weight: 700;
  line-height: 24px;
}
.general__next--text4 {
  font-family: Miso;
  color: #333333;
  font-size: 50px;
  font-weight: 400;
  line-height: 20px;
}
.general__next--text5 {
  font-family: Lato;
  color: #333333;
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
}
.general__next--text6 {
  font-family: Miso;
  color: #333333;
  font-size: 50px;
  font-weight: 400;
  line-height: 20px;
}
.general__next--text7 {
  font-family: Lato;
  color: #333333;
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
}
.general__next--text8 {
  font-family: Miso;
  color: #333333;
  font-size: 50px;
  font-weight: 400;
  line-height: 20px;
}
.general__next--text9 {
  font-family: Lato;
  color: #333333;
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
}
.exp {
  display: inline-grid;
  &--one {
    margin-left: 30px;
    margin-bottom: 10px;
  }
}
